.row .col.s12 {
    margin-top: 50px;
    margin-left: 210px;
    padding: auto;
}

#btn1 {
    margin-bottom: 15px;
}

#btn2 {
    margin-bottom: 15px;
}

#copyright {
    margin-top: 105px;
}
#chipi{
    margin-left: 100;
}
#iconsito{
    margin-top: 3px;
}
#linksito{
    margin-left: 500px;
}